<!-- <section class="hero-section">
    <div class="row">
        <div class="col-sm-6">
            <img src="/assets/contacts-hero-image.png" class="img-fluid">
        </div>
        <div class="col-sm-6 d-flex align-items-center">
            <div>
                <h2 class="main-heading text-primary">My Hotel</h2>
                <p class="lead">A simple Hotel Booking App </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                    <a class="btn btn-secondary btn-lg ms-2" href="/register" role="button">Register</a>
                </p>
            </div>
        </div>
    </div>
</section>
-->
<header>


    <!--Section: Design Block-->
    <section>
      <!-- Intro -->
      <div id="intro" class="bg-image vh-100" style="z-index: 2;">
        <img style="width: 1300px;" src="https://images.unsplash.com/photo-1517840901100-8179e982acb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="">

        <br>
        <br>
        <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>

      </div>


      <div style="z-index: 1;width: 474px;" class="bottom-left">

        <h4>We live for vacationers and travelers who love a good deal, fun, and adventure
    </h4>
       <a class="btn btn-primary" routerLink="register">Book Now</a>
</div>
      <!-- Intro -->
    </section>
    <!--Section: Design Block-->
  </header>
