/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

@import 'ag-grid-community/styles/ag-theme-balham.css';
@import 'ag-grid-community/styles/ag-grid.css';

.text-primary{
    color: #3f51b5 !important;
}


.btn-primary{
    background-color: #3f51b5 !important;
    border-color: #3f51b5 !important;
}