<admin-navbar></admin-navbar>
<router-outlet></router-outlet>


<table style="margin-top: 200px;height: 500px;margin-left: 150px;">
    <td>
        <div  class="card" style="width: 18rem;">

            <div class="card-body">
                <img  src="" alt="">
              <p class="card-text">Add Rooms</p>
            </div>
            <button style="border-radius: 8px;background-color: rgb(213, 169, 169);"><a class="btn" routerLink="/addroom">Add Rooms</a></button>
          </div>
    </td>
    <td><div class="card" style="width: 18rem;">

        <div class="card-body">
            <img src="" alt="">
          <p class="card-text">View Rooms</p>
        </div>
        <button style="border-radius: 8px;background-color: rgb(213, 169, 169);"><a class="btn" routerLink="/adminview">View Rooms</a></button>
      </div>
    </td>
    <td>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="" alt="">
              <p class="card-text">View Bookings</p>
            </div>
            <button style="border-radius: 8px;background-color: rgb(213, 169, 169);"><a class="btn" routerLink="/addroom">View Bookings</a></button>
          </div>
    </td>
</table>
