

<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0" style="background-color: beige;">
    <div class="container">
      <a class="navbar-brand" href="#!"><span style="color: black;">My-</span><span style="color:wheat">Hotel</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!">Offer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Contact</a>
          </li>


          <li class="nav-item" style="margin-left: 650px;">
            <img style="height: 40px;" src="https://img.icons8.com/ios-glyphs/2x/admin-settings-male.png" alt="">

        </li>
        <li class="nav-item">
            <a class="btn btn-outline-info" routerLinkActive="active" (click)="checkLogout()"> Logout</a>


        </li>
        <li class="nav-item">
            <P class="nav-link">ADMIN</P>
        </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i style="color: aqua;" class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
